/* DEFAULD:*//* DEFAULD:*//* DEFAULD:*//* DEFAULD:*//* DEFAULD:*//* DEFAULD:*/
/* 
.BOX-BASE{
  min-width: 85vw;
  min-height: 100vh ;
  margin: auto;
}
header{
  border: solid 3px cyan;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}
main{
  border: solid 3px rgb(66, 0, 128);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 4;
}
footer{
  border: solid 3px rgb(255, 108, 199);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: -1;
}
 */


  /* REVIEW:*/
/*? FLEX-BOX: */
  /* REVIEW:*/


/* DEFAULD:*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html{
  background-color: black;
}
body{
  border: solid 3px white;
  background-color: rgba(93, 93, 93, 0.102);
  color: white;


  height: 100vh;
  width: 85vw;
  min-width: 85vw;
  min-height: 100vh ;     
  max-width: 85vw;
  max-height: 100vh ;                                      
  
  margin: auto;
  box-sizing: border-box;
}
hr{
  display: block;
  border-style: inset;
  border-width: 1px;
}

/* HEADER:*/
header{
  display: inline-block;
  
  border: 3px solid cyan;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
header h2{
  display: inline-block;
}
header div.head{
  border: solid 2px red;
  display: inline-block;
}

/* MAIN:*/
main{
  border: 3px solid blueviolet;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/* FOOTER:*/
footer{
  border:3px solid palevioletred;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

}
